@model princeshop.Models.Contacto

@{
    ViewData["Title"] = "Contacto";
}

<div>
    <h1 class="display-4">Contactenos</h1>

    <form asp-controller="Contacto" asp-action="Create">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" style="width:400px ;"/>
        <br>
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" style="width:400px ;"/>
        <br>
        <label asp-for="Subject" class="control-label"></label>
        <input asp-for="Subject" class="form-control" style="width:400px ;" />
        <br>
        <label asp-for="Comment" class="control-label"></label>
        <input asp-for="Comment" class="form-control" style="width:400px; height:100px;" />
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" style="width: 100px;">Enviar</button> 
        </div>              
    </form>
    <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>