@model princeshop.Models.Pago
@{
    ViewData["Title"] = "Pago";
}

<h1>@ViewData["Title"]</h1>

    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
           <form asp-controller="Pago" asp-action="Pagar">
              <div class="form-group row">
                <input type="hidden" asp-for="UserID"/>
                <div class="col-sm-2">
                  <label asp-for="NombreTarjeta"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NombreTarjeta" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="NumeroTarjeta"></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="NumeroTarjeta" data-inputmask="'mask': '9999-9999-9999-9999'" />
                </div>
              </div>
              <br>             
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="DueDateYYMM" ></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="DueDateYYMM"  data-inputmask="'mask': '99/99', 'placeholder': 'yy/mm'" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="Cvv" ></label>
                </div>
                <div class="col-sm-2">
                  <input asp-for="Cvv"  data-inputmask="'mask': '999', 'placeholder': '999'" />
                </div>
              </div>
              <br>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label asp-for="MontoTotal" ></label>
                </div>
                <div class="col-sm-2" style="text-align: center;">
                  <label>S/. @Model.MontoTotal</label>
                  <input type="hidden" asp-for="MontoTotal"  data-thousands="," data-decimal="." />
                </div>
              </div>
              <br>  
             
            <button type="submit" class="btn btn-primary">Pagar</button>     
            </form>
            <br>
            @{
              if(@ViewData["Message"]!=null){
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
                <script>alert("@ViewData["Message"]"); window.location.href='/';</script>
              }
            }
          </div>
        </div>
    </div>