@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/portada1.png" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="/images/portada2.png" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <br><br><br>
</div>

<div class="row ">
<div class="col-8"><h1 class="text-center">Ropa de Verano</h1><h4>La ropa en verano debe ser cómoda, ligera y hecha con materiales naturales y transpirables. También se deben utilizar sombreros y gorras que protejan la cabeza de los rayos del sol. Los mejores sombreros son los de hilo y paja, y estos deben dejar un espacio considerable entre la cabeza y el sombrero</h4></div>
<div class="col-4"><img width="400" height="300" src="/images/veraniño.jpg " alt=""></div>

</div>
