@{
    ViewData["Title"] = "Nosotros";
}
<h1>@ViewData["Title"]</h1>

<p>Nosotros somos una empresa textil con el objetivo de 
    llevar nuestros modelos de trabajo al máximo de lugares posibles, 
    para que todos puedan disfrutar de la moda y el mejor diseño. Velar 
    por la calidad de nuestras prendas y el servicio que ofrecemos a nuestros clientes.</p>


