@{
    ViewData["Title"] = "Nosotros";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<p>Nosotros somos una empresa textil con el objetivo de 
    llevar nuestros modelos de trabajo al máximo de lugares posibles, 
    para que todos puedan disfrutar de la moda y el mejor diseño. Velar 
    por la calidad de nuestras prendas y el servicio que ofrecemos a nuestros clientes.</p>
    <br><br><br>
    <div class="row"><h1 class="text-center">Facilidades</h1><img src="/images/facilidades.jpg " alt=""></div>
    <br><br><br>
<div class="row">    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61238.541517731894!2d-71.57403124384919!3d-16.404049450619144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a487785b9b3%3A0xa3c4a612b9942036!2sArequipa!5e0!3m2!1ses-419!2spe!4v1666439868403!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

